# Server config
PORT=XXXX
MODE=XXXX

# DB config
DB_URL=XXXX

# Secrets
AT_SECRET=XXXX
AT_EXPIRY=XXXX

OTP_SECRET=XXXX

# Email config
USER_EMAIL=XXXX
APP_PASSWORD=XXXX
SMTP_HOST=XXXX
SMTP_PORT=XXXX

# AI config
GEMINI_API_KEY=XXXX
